---
import Layout from "../layouts/Layout.astro";
import ProductShowcase from "../components/ProductShowcase.astro";
import ImageModal from "../components/ImageModal.astro";
import WaveDivider from "../components/WaveDivider.astro";

import HeroImage from "../images/hero.jpg";
import { Image } from "astro:assets";
---

<Layout>
  <section
    class="w-full xl:h-200 2xl:h-230 flex flex-col md:flex-row items-center justify-center bg-white"
  >
    <div class="flex-1 flex items-center justify-center py-12">
      <h1
        class="xl:text-6xl text-4xl font-pompiere text-gray-900 xl:px-20 text-center xl:text-left"
      >
        Jedes Stück ein Unikat - handgemachte Patchwork-Kreationen von Claudia
        Wild
      </h1>
    </div>
    <div class="flex-1 h-full items-end justify-center hidden xl:flex">
      <Image
        src={HeroImage}
        alt="Handmade quilt"
        class="h-full w-full object-cover"
        loading="eager"
      />
    </div>
  </section>
  <div class="xl:h-20"></div>

  {
    [
      {
        title: "Taschen",
        imageType: "Taschen",
        ctaHref: "/bags",
        ctaLabel: "Alle Taschen ansehen",
      },
      {
        title: "Rucksäcke",
        imageType: "Rucksaecke",
        ctaHref: "/backpacks",
        ctaLabel: "Alle Rucksäcke ansehen",
      },
      {
        title: "Zwirnknöpfe",
        imageType: "Knoepfe",
        ctaHref: "/buttons",
        ctaLabel: "Alle Knöpfe ansehen",
      },
      {
        title: "Decken",
        imageType: "Decken",
        ctaHref: "/blankets",
        ctaLabel: "Alle Decken ansehen",
      },
      {
        title: "Verschiedenes",
        imageType: "Verschiedenes",
        ctaHref: "/misc",
        ctaLabel: "Alles ansehen",
      },
    ].map(({ title, imageType, ctaHref, ctaLabel }, i) => (
      <WaveDivider
        colorAbove={`${i % 2 === 0 ? "white" : "gray"}`}
        colorBelow={`${i % 2 === 0 ? "gray" : "white"}`}
        />
      <ProductShowcase
        title={title}
        imageType={imageType}
        color={`${i % 2 === 0 ? "gray" : "white"}`}
        ctaHref={ctaHref}
        ctaLabel={ctaLabel}
      />
    ))
  }
  <ImageModal numOfPictures={3} numOfPicturesMobile={1} />
</Layout>
