---
import "../styles/global.css";
import { Image } from "astro:assets";

interface Props {
  title: string;
  imageType: string;
  color?: string;
  ctaHref?: string;
  ctaLabel?: string;
  loading?: "lazy" | "eager" | undefined;
}

const colorMap = {
  gray: "bg-gray-100",
  white: "bg-white",
};

const buttonColorMap = {
  gray: "bg-white",
  white: "bg-gray-200",
};

const hoverColorMap = {
  gray: "hover:bg-gray-200",
  white: "hover:bg-white",
};

const {
  title = "Titel",
  imageType = "Decken",
  color = "white",
  ctaHref = "#",
  ctaLabel = "Alle ansehen",
  loading = "lazy",
} = Astro.props;

let images: string[] = [];
let imageImports: Record<string, () => Promise<{ default: string }>> = {};
switch (imageType) {
  case "Decken":
    imageImports = import.meta.glob(
      "/src/images/Decken/*.{jpeg,jpg,png,gif}",
    ) as Record<string, () => Promise<{ default: string }>>;
    break;
  case "Knoepfe":
    imageImports = import.meta.glob(
      "/src/images/Knoepfe/*.{jpeg,jpg,png,gif}",
    ) as Record<string, () => Promise<{ default: string }>>;
    break;
  case "Rucksaecke":
    imageImports = import.meta.glob(
      "/src/images/Rucksaecke/*.{jpeg,jpg,png,gif}",
    ) as Record<string, () => Promise<{ default: string }>>;
    break;
  case "Taschen":
    imageImports = import.meta.glob(
      "/src/images/Taschen/*.{jpeg,jpg,png,gif}",
    ) as Record<string, () => Promise<{ default: string }>>;
    break;
  case "Verschiedenes":
    imageImports = import.meta.glob(
      "/src/images/Verschiedenes/*.{jpeg,jpg,png,gif}",
    ) as Record<string, () => Promise<{ default: string }>>;
    break;
}

const importFns = Object.values(imageImports).slice(0, 3);

images = await Promise.all(
  importFns.map((importFn) => importFn()),
).then((modules) => modules.map((mod) => mod.default));
---

<div
  class={`flex flex-col w-full h-fit gap-10 py-10 justify-between ${colorMap[color as keyof typeof colorMap]}`}
>
  <div class="flex-1/6 h-10 flex items-center justify-center">
    <h1 class="text-5xl font-pompiere tracking-widest">{title}</h1>
  </div>

  <div class="flex-4/6 h-10">
    <div class="flex flex-col xl:flex-row justify-center h-full gap-4 px-4">
      {
        images.map((img, i) => (
          <div
            class={`w-full xl:w-auto flex-1 p-4 relative cursor-pointer hover:opacity-80
            ${i === 0 ? "" : "hidden xl:block"}`}
            onclick={`openModal('${title}','${i}')`}
          >
            <Image
              id={`img-${title}-${i}`}
              src={img}
              alt="Produktbild"
              class="w-full h-full object-scale-down cursor-pointer z-100 border-1 border-black"
              loading={loading}
            />
          </div>
        ))
      }
    </div>
  </div>

  <div class="flex-1/6 h-10 flex items-center justify-center">
    <a
      href={ctaHref}
      class={`px-6 py-3 ${buttonColorMap[color as keyof typeof buttonColorMap]} text-black shadow ${hoverColorMap[color as keyof typeof hoverColorMap]} tracking-wider transition-colors duration-200 text-2xl font-pompiere border`}
    >
      {ctaLabel}
    </a>
  </div>
</div>
